---
layout: default
published: true
---

<div class="posts">
   {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  
  <!-- Pagination links -->
    <div class="pagination">
       {% assign maxPageNum = paginator.total_pages %} {% assign class
      ='unactive' %} {% assign currentPage = paginator.page %} {% for i in
      (1..maxPageNum)%} {% if currentPage == i %} {% assign class = 'active' %}{%
      else %}{% assign class = 'unactive' %} {% endif %} {% if i == 1 %}
      <span class="pageNum {{ class }}">
        <a href="{{ site.baseurl }}/">{{ i }}</a></span
      >
      {% else %}
      <span class="pageNum {{ class }}">
        <a href="{{ site.baseurl }}/page{{ i }}/">{{ i }}</a></span
      >
      {% endif %} {% endfor %}
    </div>
  {% endfor %}
  
    
</div>
